/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    next/preprocesshisto Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = "./test"
    images_paths               = "svs,qptiff,tif,dcm,vms,vmu,ndpi,scn,mrxs,tiff,svslide,bif"
    canny_values               = [40, 100]
    threshold_cutoff           = 0.9
    patch_size                 = 224
    full_saving                = false
    num_threads                = 10
    device                     = "cpu"

    // Boilerplate options
    outdir                     = './results/TCGA-READ/'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/profile.config'


manifest {
    name            = 'next/preprocesshisto'
    author          = """Matteo Girotto, Sandro Carollo"""
    homePage        = 'https://github.com/next/preprocesshisto'
    description     = """A pipeline to preprocess the H&E slides in input. The slides will go through a thresholding and edge detection to isoalte the tissue before beign tessellated into small patches for downstream analysis."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
    doi             = ''
}
