process {

    cpus   = 1
    memory = 6.GB

    errorStrategy = 'ignore'
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    // TODO: Consider also using "memory = " - returns error with samtools
    withLabel:process_single {
        cpus   = 1
    }
    withLabel:process_low {
        cpus   = 2
    }
    withLabel:process_medium {
        cpus   = 10
    }
    withLabel:process_high {
        cpus   = 20
    }
}
